<div class='row'>
  <div class='col-xs-12 col-sm-8 col-sm-offset-2'>
    <h1 style='text-align : center'>About the Money App</h1>
    <br />
    <p><strong>The whole app in a sentence</strong></p>
    <p>Analyzing and journalizing your personal spendings into systematics accounts.</p>
    <br />
    <p><strong>Why use it?</strong></p>
    <p>It is a good practice to always keep track of your spendings, in case you didnt realize :)</p>
  </div>
</div>