<div class='row'>
    <div class='col-xs-12 col-sm-offset-2 col-sm-8'>
        <p style="text-align : right"><a ng-href="/account-books/{{ accounting_transaction.account_book_id }}">Back to Account Book</a></p>
        <h3>Description</h3>
        <div class="row" ng-hide="edit.accounting_transaction.description || edit.accounting_transaction.all">
            <div class="col-xs-10">{{ accounting_transaction.description }}</div>
            <div class="col-xs-2"><a class="btn btn-success" ng-click="edit.accounting_transaction.description = true">Edit</a></div>
        </div>
        <div class="row" ng-show="edit.accounting_transaction.description || edit.accounting_transaction.all">
            <div class="col-xs-8"><input class="form-control" ng-model="accounting_transaction.description" /></div>
            <div class="col-xs-2"><a class="btn btn-info" ng-click="update('description')">Update</a></div>    
            <div class="col-xs-2"><a class="btn btn-warning" ng-click="edit.accounting_transaction.description = false">Back</a></div>
        </div>
        <h3>Date of Transaction</h3>
        <div class="row" ng-hide="edit.accounting_transaction.date || edit.accounting_transaction.all">
            <div class="col-xs-10">{{ accounting_transaction.date }}</div>
            <div class="col-xs-2"><a class="btn btn-success" ng-click="edit.accounting_transaction.date = true">Edit</a></div>
        </div>
        <div class="row" ng-show="edit.accounting_transaction.date || edit.accounting_transaction.all">
            <div class="col-xs-8"><input type="date" class="form-control" ng-model="accounting_transaction.date" /></div>
            <div class="col-xs-2"><a class="btn btn-info" ng-click="update('date')">Update</a></div>    
            <div class="col-xs-2"><a class="btn btn-warning" ng-click="edit.accounting_transaction.date = false">Back</a></div>
        </div>
        <h3>Amount</h3>
        <p>{{ accounting_transaction.amount ? accounting_transaction.amount() : 0 | currency:"$ "}}</p>
        <div class='row'>
            <div class='col-sm-6'>
                <h3>Debited Records</h3>
                <a ng-click="prompt_record('debit')">Add new debit records</a>
                <div class="row" ng-repeat="record in accounting_transaction.debit_records">
                    <div ng-hide="record._destroy">
                        <div class="col-xs-2"><a style="color : red" ng-click="record._destroy = true">X</a></div>
                        <div class='col-xs-4'>{{ record.account_name }}</div>
                        <div class='col-xs-3'>{{ record.account_type }}</div>
                        <div class='col-xs-3'>{{ record.amount | currency:"$ " }}</div>
                    </div>
                </div>
                <br />
            </div>
            <div class='col-sm-6'>
                <h3>Credited Records</h3>
                <a ng-click="prompt_record('credit')">Add new credit records</a>
                <div class="row" ng-repeat="record in accounting_transaction.credit_records">
                    <div ng-hide="record._destroy">
                        <div class="col-xs-2"><a style="color : red" ng-click="record._destroy = true">X</a></div>
                        <div class='col-xs-4'>{{ record.account_name }}</div>
                        <div class='col-xs-3'>{{ record.account_type }}</div>
                        <div class='col-xs-3'>{{ record.amount | currency:"$ " }}</div>
                    </div>
                </div>
                <br />
            <br />
          </div>
        </div>
        <p>Note : You have to mannualy press update records if you make any ammendments to the account records!</p>
        <p style="text-align : right">
            <a class="btn btn-info" ng-click="update('records')">Update Records!</a>
        </p>
        <br />
        <app-pop-up-window ng-show="edit.add_new_record">
            <p style="text-align : right"><a style="cursor: pointer" ng-click="edit.add_new_record = false">X</a></p>
            <h2>Add new {{ new_account_record.record_type }} record</h2>
            <form role="form" ng-submit="addNewRecord()">
              <div class="form-group">
                <label for="exampleInputEmail1">Account Name</label>
                <input class="form-control" ng-model="new_account_record.account_name" placeholder="Enter accout name" />
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Type of Account</label>
                <select class="form-control" ng-model="new_account_record.account_type" placeholder="Enter type of account">
                    <option value="asset">Asset</option>
                    <option value="equity">Equity</option>
                    <option value="liability">Liability</option>
                </select>
              </div>
              <div class="form-group">
                <label for="exampleInputFile">Amount</label>
                <input class="form-control" ng-model="new_account_record.amount" placeholder="Enter amount" />
              </div>
              <button type="submit" class="btn btn-default">Add</button>
            </form>
        </app-pop-up-window>
    </div>
</div>