<h1>Account Books</h1>
<a style="margin-bottom : 20px" ng-href="/account-books/new" class="btn btn-success">Click here to crete a new account book</a>

<div ng-repeat="account_book in account_books" class="row">
    <div class="col-xs-6"><a ng-href="/account-books/{{ account_book.id }}">{{ account_book.name }}</a></div>
    <div class="col-xs-6" ng-bind="account_book.description"></div>
</div>