<p style="text-align : right"><a href="/account-books/{{ account_book_id }}">Back to account book</a></p>
<div ng-repeat="(account_name, account_obj) in accounts">
    <div class="page-header">
        <h3 style="text-align : center">{{ account_name }}</h3>
    </div>
    <div class="row">
        <div class="col-xs-5">
            <div ng-repeat="record in account_obj.debit_records" class="row">
                <div class="col-xs-4"><a>{{ record.accounting_transaction.date }}</a></div>
                <div class="col-xs-5"><a ng-href="/accounting-transactions/{{ record.accounting_transaction_id }}">{{ record.accounting_transaction.description | limitWordsLength:20 }}</a></div>
                <div style="text-align : right" class="col-xs-3">{{ record.amount }}</div>
            </div>
        </div>

        <div class="col-xs-5 col-xs-offset-2">
            <div ng-repeat="record in account_obj.credit_records" class="row">
                <div class="col-xs-4"><a>{{ record.accounting_transaction.date }}</a></div>
                <div class="col-xs-5"><a ng-href="/accounting-transactions/{{ record.accounting_transaction_id }}">{{ record.accounting_transaction.description | limitWordsLength:20 }}</a></div>
                <div style="text-align : right" class="col-xs-3">{{ record.amount }}</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-5">
            <div class="row">
                <div style="text-align : right" class="col-xs-offset-9 col-xs-3"><strong>{{ account_obj.debit_records | accountsRecordSum | currency:"$ " }}</strong></div>
            </div>
        </div>
        <div class="col-xs-offset-2 col-xs-5">
            <div class="row">
                <div style="text-align : right" class="col-xs-offset-9 col-xs-3"><strong>{{ account_obj.credit_records | accountsRecordSum | currency:"$ " }}</strong></div>
            </div>
        </div>        
    </div>
</div>