<div class="page-header">
    <h2>{{ account_book.name }}</h2>
</div>
<div class="jumbotron">
    <p>What would you like to do with your account book {{ account_book.name }} today ?</p>
    <ul>
        <li><a class="btn btn-link" ng-href="/account-books/{{ account_book.id }}/records">
            View ledger records
        </a></li>
        <li><a class="btn btn-link" ng-href="/account-books/{{ account_book.id }}/transactions">
            View all transactions
        </a></li>
        <li><a class="btn btn-link" ng-href="/account-books/{{ account_book.id }}/balance-sheet">
            View balance sheet
        </a></li>
    </ul>
</div>