<div class="page-header">
    <div class="row">
        <div class="col-sm-8"><h2>{{ account_book.name }}</h2></div>
        <div class="col-sm-4">
            <p style="margin-top: 20px; text-align :right"><a ng-click="new_account.name = ''; edit.rename_account_book = true;">Change your account book name</a></p>
            <p style="margin-top: 20px; text-align :right"><a style="color: red" ng-click="removeAccountBook()">Remove this account book</a></p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-4 col-sm-offset-2 col-sm-2">
        <a ng-click="new_accounting_transaction = {}; edit.add_new_transaction = true;">Create new transaction</a>
    </div>
    <div class="col-xs-4 col-sm-2">
        <a ng-click="new_expenditure = {}; edit.add_new_expenditure = true;">Create new expenditure</a>        
    </div>
    <div class="col-xs-4 col-sm-2">
        <a ng-click="new_income = {}; edit.add_new_income = true;">Create new income</a>        
    </div>
    <div class="col-xs-4 col-sm-2">
        <a ng-href="/account-books/{{ account_book.id }}/records">View Account Records Summary</a>        
    </div>
</div>

<h2>Transactions</h2>
<div ng-show="account_book.accounting_transactions.length === 0">
    Looks like you are still have to create any accounting transactions <strong>:(</strong>, go on and create one!
</div>
<div ng-repeat="transaction in account_book.accounting_transactions | orderBy: 'date':true">
    <div class="row small-row{{ $index % 2 == 0 ? '-info' :'' }}">
        <div class="col-xs-3 col-sm-2">{{ transaction.date }}</div>
        <div class="col-xs-9 col-sm-4">{{ transaction.description | limitWordsLength:50 }}</div>
        <div class="col-xs-6 col-sm-2"><strong>{{ transaction.amount() | currency:"$ " }}</strong></div>
        <div class="col-xs-3 col-sm-2"><a ng-href="/accounting-transactions/{{ transaction.id }}" class="btn btn-{{ ($index % 2 == 0 ? 'default' : 'info') }}" >View</a></div>
        <div class="col-xs-3 col-sm-2"><a style="cursor: pointer" ng-click="removeTransaction(transaction.id)" class="btn btn-danger">Delete</a></div>
    </div>
</div>

<app-pop-up-window ng-show="edit.rename_account_book">
    <p style="text-align : right"><a style="cursor: pointer" ng-click="edit.rename_account_book = false">X</a></p>
    <h2>Rename Account Book</h2>
    <form role="form" ng-submit="renameAccountBook()">
        <div class="form-group">
            <label>New Account Name</label>
            <input required class="form-control" ng-model="account_book.name" placeholder="Enter new account name" />
        </div>
        <div class="form-group">
            <input required type="submit" value="Rename Account Book" class="btn btn-info form-control" />
        </div>
    </form>
</app-pop-up-window>

<%= render :partial => "/templates/account_books/add_new_transaction_pop_up" %>
<%= render :partial => "/templates/account_books/add_new_expenditure_pop_up" %>
<%= render :partial => "/templates/account_books/add_new_income_pop_up" %>