<h1 style='text-align:center'>Error 404</h1>
<p style="text-align : center">You probably know what this means ... :)</p>
<p style="text-align : center">Here is a random number : <strong><em><%= Random.new.rand(1000000) %></em></strong></p>