<h1 style='text-align:center'>Error!</h1>
<p style="text-align : center">An unknown error has occured, we will try to get this right!</p>
<p style="text-align : center">Here is a random number : <strong><em><%= Random.new.rand(1000000) %></em></strong></p>