<% provide :title , "My Profile" %>
<div class='row'>
  <div class='col-xs-12 col-sm-offset-2 col-sm-8'>
    <h1>My monetary profile</h1>
      <p><strong>Email: </strong> <%= @user.email %></p>
      <p><strong>Name: </strong> <%= @user.name %></p>
      <p><strong>Balance: </strong><%= '%.2f' % (@user.accounts_amount[:cash] || 0) %></p>
      <% if (@user.accounts_amount[:cash] || 0) < 0 %>
        <p class='alert alert-danger'>You have an overdraft account!</p>
      <% end %>
      
      <% if current_user? @user %>
        <div class='row'>
          <div class='col-sm-4'><a href="/transactions/new?type=expenditure" class="wide-btn btn btn-default">Add expenditure</a></div>
          <div class='col-sm-4'><a href="/transactions/new?type=income" class="wide-btn btn btn-info">Add income</a></div>
          <div class='col-sm-4'><a class="wide-btn btn btn-primary" href="/users/<%= @user.id %>/edit">Update my profile</a></div>
        </div>
      <% end %>
  </div>
</div>
<div class='row'>
  
</div>