<h2>Debt Requests Menu</h2>
<p><a href="/debts/new" class="btn btn-link">Click here to make a new debt request!</a></p>
<p><a href="/debts/archive" class="btn btn-link">Click here to view archived debts</a></p>
<%= render :partial => "/templates/debts/debts_list_partial", :locals => { :type => "active" } %>