// Place all the styles related to the accounting_transactions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$light_grey : #e2e2e0;
$dark_grey : #72b6ff;

.transaction_list_item
{
    padding-bottom: 10px;
    padding-top : 10px;
}

.transaction_list_item > .transaction_list_item_sub_list
{
    margin-bottom: 10px;
}

.account_name_link
{
    color: black;
    font-weight: 700;
}

.transaction_list_item_white
{
    background-color: $dark_grey;
}

.transaction_list_item_grey
{
    background-color : white;
}
